<!-- Start User Section -->
<div *ngIf="!IsLogin">
  <app-slider></app-slider>
  <section class="container">
    <h2>Products</h2>
    <div class="row p-2 text-center products">
      <div *ngFor="let product of products" class="col-md-4 col-lg-3 mb-5">
        <app-product [product]="product"></app-product>
      </div>
    </div>
  </section>
</div>
<!-- End User Section -->

<!-- Start Admin Section -->
<div *ngIf="IsLogin">
  <section class="container">
    <h2>Products</h2>
    <div class="row p-2 text-center products">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <th>{{ product.id }}</th>
            <th>{{ product.name }}</th>
            <th>{{ product.description }}</th>
            <th>{{ product.price }}</th>
            <th>{{ product.quantity }}</th>
            <th>
              <img [src]="product.imageURL" alt="product.name" />
            </th>
            <th>
              <a
                [routerLink]="['/products', product?.id]"
                class="btn btn-primary me-2"
                >details</a
              >
              <a class="btn btn-warning me-2">edit</a>
              <a class="btn btn-danger">delete</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
<!-- End Admin Section -->
