<div
  class="container d-flex align-items-center justify-content-center vh-100 text-center"
>
  <div class="row">
    <form (ngSubmit)="Login()">
      <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">Username</label>
        <input
          [(ngModel)]="username"
          name="username"
          type="username"
          class="form-control"
          id="exampleInputUsername"
          aria-describedby="usernameHelp"
          required
        />
        <div id="usernameHelp" class="form-text">
          We'll never share your username with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          required
        />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>
