@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateStudent</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="/student/Update?id=@Model.Id">
        <label>Name</label>
        <input type="text" name="name" placeholder="@Model.Name" required /> <br />
        <label>Age</label>
        <input type="number" name="age" placeholder="@Model.Age" required /><br />
        <label>Email</label>
        <input type="email" name="email" placeholder="@Model.Email" required /><br />

        <input type="submit" name="submit" />
    </form>
</body>
</html>
