@model Department

<label asp-for="Name">Name</label>
<input class="form-control" asp-for="Name">
<span class="text-danger field-validation-valid" asp-validation-for="Name"></span>

<br />
<label asp-for="Description">Description</label>
<input class="form-control" asp-for="Description" />
<span class="text-danger  field-validation-valid" asp-validation-for="Description"></span>

<br />