@model Department
@{
    Layout = "_Layout";
    ViewBag.Title = "Add Department";

}


<form class="form-group" asp-action="InsertDepartment" asp-controller="Department">

    <partial name="_Form">

    <input class="w-100 btn btn-lg btn-primary" type="submit" name="submit" />
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
